h1 {
  text-decoration: underline;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax value as needed */
  grid-gap: 10px; /* Adjust gap as needed */
  justify-content: center; /* Centering images */
}

.image-container img {
  border: 2px solid rgb(234, 0, 255); /* Add border to images */
  max-width: 100%;
  height: auto;
}

/* Ensuring a minimum of 4 images in each row */
@media screen and (min-width: 800px) {
  .image-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust the number of columns as needed */
  }
}

.text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.text-container p {
  margin: 0;
  padding: 5px;
  background-color: rgba(255, 0, 234, 0.473);
  color: rgb(0, 0, 0);
}

.content-container {
  transform: scaleX(-1);
}